input:required:invalid {
    outline: none;
}

.selectOrigin {
    width: 200px;
}

.card {
    margin-bottom: 2rem
}

.card-section {
    margin-bottom: 1rem
}

.alert-success {
    word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}
